.copy-link-field-component {  
   .copy-link-button {
    font-size: 12px;
    padding: 4px 8px;
    height: 40px;
    line-height: 20px;
    min-height: 28px;
    flex-shrink: 0;
    margin: 0;
  }
}
